
h2{
    text-align: center;
    color: white;
}

*{
    font-family: monospace;
}

body{
    background-color: rgb(38, 38, 99);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
   width: 400px;
    height: 400px;
}


input{
    width: 100%;
    height: 30px;
    font-size: large;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

button{
    background-color: purple;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: black 2px solid;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(104, 34, 104);
}