*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #333;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

i{
    font-size: 48px;
}

