*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(96, 133, 214);
    margin: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: aliceblue;
    border-radius: 3px;
    width: 500px;
    height: 200px;
    padding: 10px;
    text-align: center;
}

.count{
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

.inputcha{
display: block;
font-size: 16px;
border: 1px solid;
border-radius: 3px;
padding: 10px;
width: 100%;
outline: none;
}