* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: "Noto Sans Lao";
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    width: 100%;
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
}

nav{
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 3rem;
    color: aliceblue;
}

.navList{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navList li{
    list-style: none;
    margin: 0 1.5rem;
}

li a{
    color: aliceblue;
    font-size: 1.4rem ;
    text-decoration: none;
}

section{
    padding: 5rem 0;
}

.box{
    border: 1px solid gray;
    padding: 2rem;
    margin-top: 4rem;

}

h2{
    font-size: 2.5rem;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex > *{
    margin: 3px;
}

section.header{
background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg") center no-repeat;
width: 100%;
height: 90vh;
background-size: cover;
}

.scroll{
    width: 100%;
    height: 4px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; 
    /* visibility: hidden; */
}

.progress{
    width: 0%;
    height: 100%;
    background: #d99311;
  
}


