* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 0 0 20px 0;
}

.formcontrol {
  position: relative;
  margin: 20px 0;
  width: 300px;
}

.formcontrol input {
  border: 0;
  border-bottom: 1px solid orange;
  outline: none;
  display: block;
  padding: 12px 0;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

.formcontrol label{
position: absolute;
top: 0;
left: 0;
font-size: 20px;
color:gray;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: purple;
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
}

.fa-solid{
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    cursor: pointer;
}

i {
  font-size: 16px;
}
