*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: "Noto Sans Lao", sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    width: 100%;
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
}

nav{
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.navList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList li{
    list-style: none;
    margin: 0 1.5rem;
}

li a{
    color: aliceblue;
    font-size: 1.4rem ;
    text-decoration: none; /* underline none */
    transition: all 0.3s ease-in-out;
}

section{
    padding: 8rem 0;
}

.box{
    border: 1px solid gray;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2{
    font-size: 3rem;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    background: transparent;
    padding: 1rem;
    border:1px solid red;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transform: translateY(10rem); /* initially hidden */
}

.top:hover{
    background-color: red;
    color: #fff;
}

.show-top{
    opacity: 1;
    transform: translateY(0); /* show button */
    transition: all 0.3s ease-in-out;
}