* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Lao", sans-serif;
  background: #dc5252;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 250px;
  background-color: aliceblue;
  border-radius: 5px;
  text-align: center;
  border: 1px solid gray;
  padding: 1rem;
}

h1 {
  margin: 20px 0 0 0;
}

.count {
  font-size: 3rem;
  padding: 0 0 10px;
}
input[type="text"] {
  display: block;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  outline: none;
}
