* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
  width: 100%;
}

.pop {
  cursor: pointer;
  background: #47954d;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: large;
  border: none;
}

.pop:hover {
  background-color: rgb(192, 185, 185);
  color: #000;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.info {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


p {
  font-size: 14px;
  padding: 0 0 10px 0;
}

.close {
  cursor: pointer;
  background: #337d4f;
  color: #fff;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: medium;
  border: none;
}

.show-modal{
    pointer-events: all;
    opacity: 1;
}
